/*Fonts*/
/*Colors*/
/*Mobile breackpoints*/
@media screen and (min-width: 1200px) {
  .logo {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    margin-left: 20%;
  }
  .arrow {
    display: none;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-container .box {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-container .box {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-container .box {
    width: 85%;
  }
}

@media screen and (max-width: 576px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-container .box {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-container .box {
    width: 100%;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: #2d3236;
}

.container {
  max-width: 1036px;
  width: 1036px;
  margin: 0 auto;
  text-align: center;
}

.main-header {
  margin: 0;
  width: 100%;
  height: 84px;
  background-color: white;
}

.main-header .logo {
  width: 160px;
  height: 38px;
  padding: 23px 0;
}

.blue-section {
  width: 100%;
  top: 84px;
  background-color: #215398;
}

.blue-section h1 {
  top: 133px;
  font-weight: 300;
  font-size: 40px;
  line-height: 52px;
  padding-top: 49px;
  margin: 0;
  color: white;
}

.blue-section p {
  height: 32px;
  top: 190px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  color: white;
}

.blue-section .container {
  width: 100%;
  max-width: 1172px;
}

.blue-section .container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1176px;
  margin: 40px 0 0 0;
}

.blue-section .container .flex-container .arrow {
  width: 48px;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: #28a9e0;
  margin-bottom: 60px;
}

.blue-section .container .flex-container .arrow:hover {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #28a9e0;
}

.blue-section .container .flex-container .box {
  background-color: white;
  -ms-flex-preferred-size: 332px;
      flex-basis: 332px;
  min-height: 228px;
  margin-bottom: 60px;
}

.blue-section .container .flex-container .box h3 {
  color: #2d3236;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding: 18px 28px 0 28px;
}

.blue-section .container .flex-container .box p {
  color: gray;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding: 0 28px;
}

.blue-section .container .flex-container .box i {
  font-size: 42px;
  top: 72px;
  color: #babfc6;
}

.blue-section .container .flex-container .box:hover {
  background-color: #1bb5b5;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blue-section .container .flex-container .box:hover h3 {
  font-weight: 500;
  color: white;
}

.blue-section .container .flex-container .box:hover p {
  color: #ffd900;
  font-weight: 500;
}

.blue-section .ring {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ff3859;
  margin: 0 auto;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.light-blue-section {
  width: 100%;
  background-color: #f1f6fc;
}

.light-blue-section h1 {
  top: 133px;
  font-weight: 300;
  font-size: 40px;
  line-height: 52px;
  padding-top: 49px;
  margin: 0;
  color: #2d3236;
}

.light-blue-section p {
  height: 32px;
  top: 190px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  color: #2d3236;
}

.light-blue-section h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  color: #2d3236;
  margin: 0;
  margin-top: 36px;
}

.light-blue-section .container {
  width: 100%;
}

.light-blue-section .container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1176px;
  margin: 40px 0 0 0;
}

.light-blue-section .container .flex-container .box {
  background-color: white;
  -ms-flex-preferred-size: 332px;
      flex-basis: 332px;
  min-height: 228px;
  margin-bottom: 60px;
  margin-top: -16px;
  margin-bottom: 72px;
}

.light-blue-section .container .flex-container .box h3 {
  color: #2d3236;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding: 18px 28px 0 28px;
}

.light-blue-section .container .flex-container .box p {
  color: gray;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding: 0 28px;
}

.light-blue-section .container .flex-container .box i {
  font-size: 42px;
  top: 72px;
  color: #babfc6;
}

.light-blue-section .container .flex-container .box:hover {
  background-color: #1bb5b5;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.light-blue-section .container .flex-container .box:hover h3 {
  font-weight: 500;
  color: white;
}

.light-blue-section .container .flex-container .box:hover p {
  color: #ffd900;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */